.contact {
  background: #fde4e4;
  margin-top: 30px;
  height: 85.5vh;
 padding-top: 30px;
}
.Container {
  width: 100px;
}

.contact__logo h2 {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 15px;
  color: #e01a1a;
}
.contact__logo p {
  padding-top: 5px;
  padding-left: 50px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #373232;
  line-height: 28px;
  width: fit-content;
}
.delivery__item {
  background: transparent !important;
}
.delivery__item span {
  font-weight: bold;
  padding-left: 50px;
  font-size: 1rem;
  color: #373232;
}
.delivery__item p {
  padding-left: 50px;
  color: #373232;
}
.contact_title {
  font-size: 1.1rem;
  color: #373232;
  font-weight: bold;
  padding-left: 50px;
}
.email_title {
  font-size: 1.1rem;
  color: #373232;
  font-weight: bold;
}

.news_letter {
  padding: 5px;
  border: 1px solid #373232;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.news_letter input {
  background: transparent;
  border: none;
  outline: none;
}
.news_letter input:focus {
  outline: none;
}
.news_letter span {
 
  padding: 5px 7px;
  border-radius: 5px;
}

.news_letter span i {
  color: #373232;
  padding-right: 2px;
  
}

.news_letter input::placeholder {
  color: #373232;
}
.follow {
  color: #373232;
  font-size: 1.1rem;
  font-weight: bold;
}

.social_links span i {
 

  padding: 7px;
  background: #e01a1a;
  color: #fff;
  border-radius: 50%;
}

.no-Underline {
  text-decoration: none;
}

.copyright_text {
  font-size: 1.1rem;
  color: #e01a1a;
}
@media only screen and (max-width: 1998px) {
  
  .news_letter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .news_letter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
  .news_letter span i {
    padding: 2px ;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 992px) {
  .contact{
    height: fit-content;
  }
  .contact__logo h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #e01a1a;
  }
  .news_letter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .news_letter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
  .news_letter span i {
    padding: 2px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .contact{
    height: fit-content;
  }
  .contact__logo h2 {
    font-weight: bolder;
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
    color: #e01a1a;
  }
  .contact__logo p {
    padding-top: 5px;
    padding-left: 50px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #373232;
    line-height: 28px;
    width:fit-content;
  }
  .contant_title {
    font-size: 0.8rem;
  }

  .delivery__item span {
    font-size: 0.8rem;
  }

  .delivery__item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}


@media only screen and (max-width: 576px) {
      .contact{
        height: fit-content;
      }
      .contact__logo h2 {
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
        color: #e01a1a;
      }
      .news_letter input {
        padding: 7px;
        font-size: 0.7rem;
      }
      .news_letter span {
        padding: 4px 20px;
        font-size: 0.7rem;
      }
      .news_letter span {
        padding: 5px 5px;
        border-radius: 5px;
      }
    }
@media only screen and (max-width: 575px) {
  .contact{
    height:fit-content;
  }
  .contact__logo h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #e01a1a;
  }
  .copyright_text {
    text-align: center;
  }

  .social_links p {
    font-size: 0.8rem;
  }

  .social_links span {
    padding: 4px;
  }
  .social_links span a {
    font-size: 0.7rem;
  }
  
}

