.search {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}

.search input {
  border: none;
  background: transparent;
}

.search input:focus {
  outline: none;
}

.search span i {
  color: #e01a1a;
}

.paginationButtons {
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  list-style: none;
  color: #e01a1a;
}
