.landing__content{
  padding-top: 70px;
}
.landing__content p{
  font-size:1rem ;
  line-height: 30px;
  color: #777;
}
.landing__title{
  font-size: 2.5rem ;
  line-height: 55px;
}
.landing__title span{
  color: #df2020;
}
.landing__btns button{
  border:none ;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.order__btn{
  background-color: #df2020;
  color: #fff;
  transition: 0.4s;
}
.order__btn:hover{
  background: #000;
}

.all__foods-btn{
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all__foods-btn a{
  text-decoration: none;
  color: #df2020;
}
.all__foods-btn i{
  color: #df2020;
}

.services p{
  color: #212245 ;
  font-weight: 600;
  font-style: 0.9rem;
}
.services i{
  padding: 5px;
   background: #df2020;
   border-radius: 50%;
   color: #fff;
   font-weight: 500 !important;
}